<!doctype html>
<html>
<head>
<title>squid</title>
<link rel="icon" href="favicon.ico" type="image/gif">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
<!--
<link rel="stylesheet" type="text/css" href="/s/z/s.css">
-->
</head><body>
<style>
/** begin:CSS **/

.main {
  padding-top: 1em;
}

.tpl {
  margin-top: 1em;
}

.output {
  font-size: 0.7em;
}

.status-OK,
.status-Up {
  color: #00BCD4;
}

.status-ERROR,
.status-Created,
.status-Exited,
.status-Restarting {
  color: #e91e63;
}

.status-Absent {
  color: #ff5722;
}

.status-Unknown {
  color: #999;
}

.json {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.2em;
}

.ui.inverted.dimmer {
  background-color: rgba(255, 255, 255, 0.4);
}

.ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** end:CSS **/
</style>
<!-- begin:HTML -->

<body>
<div class="main text ui container">
  <div class="ui top attached tabular menu">
    <a class="item green action-status active">status</a>
    <a class="item teal action-up">up</a>
    <a class="item pink action-nodes">nodes</a>
    <a class="item purple action-history">history</a>
    <div class="right menu">
      <div class="item">
        <h2>squid</h2>
      </div>
    </div>
  </div>

  <div class="ui tpl up"></div>
  <div class="ui tpl status"></div>
  <div class="ui tpl nodes"></div>
  <div class="ui tpl history"></div>

  <script type="text/html" id="tpl_loading">
    <div class="ui active inverted dimmer">
      <div class="ui large text loader">Loading</div>
    </div>
  </script>

  <script type="text/html" id="tpl_status">
    <h2>status</h2>
    <table class="ui celled very compact table">
      <tbody>
        <% for ( var c in obj ) { %>
        <tr class="toggle-control-def status-<%= obj[c].status %>">
          <td><%= obj[c].name %></td>
          <td><%= obj[c].fullStatus %></td>
          <td><%= obj[c].image %></td>
          <td class="toggle-item-def" style="display:none">
            <pre class="toggle-item-def" style="display:none" class="json"><%=
             JSON.stringify(obj[c].definition, undefined, 2) %></pre>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </script>

  <script type="text/html" id="tpl_up">
    <h2>up</h2>
    <table class="ui celled very compact basic table">
      <tbody>
        <% for ( var cmd in obj ) { %>
        <tr>
          <td>
            <pre class="output"><% for ( var l in obj[cmd].result) { %><%= obj[cmd].result[l] + '\n'%><% } %></pre>
          </td>
        </tr>
        <tr class="status-<%= obj[cmd].cmd.status %>">
          <td>
            <%= obj[cmd].cmd.status %> - <%= obj[cmd].cmd.long_cmd %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </script>

  <script type="text/html" id="tpl_nodes">
    <h2>nodes</h2>
    <% for ( var node in obj ) { %>
    <h3><%= node %></h3>
    <table class="ui celled very compact table">
      <tbody>
        <% for ( var s in obj[node] ) { %>
        <tr class="toggle-control-def status-<%= obj[node][s].status %>">
          <td><%= obj[node][s].name %></td>
          <td><%= obj[node][s].fullStatus %></td>
          <td class="ellipsis"><%= obj[node][s].image %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>
  </script>

  <script type="text/html" id="tpl_history">
    <h2>history</h2>
    <table class="ui celled very compact basic table">
      <tbody>
        <% for ( var i in obj ) { %>
        <tr class="status-<%= obj[i].cmd.status %>">
          <td>
            <%= fromNow(obj[i].cmd.timestamp) %>
          </td>
          <td>
            <%= obj[i].cmd.status %> - <%= obj[i].cmd.long_cmd %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </script>

<!-- end:HTML -->
</div>
<!--
<script src="/s/z/s.js"></script><script>
-->
<script src="https://thbkrkr.github.io/s.js/dist/s.2.db65b41.js"></script><script>
/** begin:JS */

// -- Utils

function fromNow(timestamp) {
  var hours = 0
  return moment.unix(timestamp).add(hours, 'hours').fromNow()
}

function call(action) {
  if (action == null) action = 'status'
  for (var j = actions.length - 1; j >= 0; j--) {
    if (action != actions[j]) {
      $('.tpl.'+actions[j]).html('')
      $('.action-'+actions[j]).removeClass('active')
    } else {
      $('.action-'+actions[j]).addClass('active')
    }
  }
  eval(action)()
}

function bind(actions) {
  // call action on click button
  for (var i = actions.length - 1; i >= 0; i--) {
    $('.action-'+actions[i]).on('click', function() {
      action = $(this).attr('class').replace(/.*action-/, '').replace(' active', '')
      call(action)
    })
  }
  // refresh
  if (refresh) {
    r = $param('r')
    if (r != null) {
      setInterval(function(){ refresh() }, 1000*r);
    }
  }
}

// -- Actions

function status() {
  $get('/compose/status', function(data) {
    $('.tpl.status').html($tpl('tpl_status', data))

    $('.toggle-control-def').on('click', function() {
      $('.toggle-item-def').toggle()
    })
  })
}

function up() {
  $('.tpl.up').html($tpl('tpl_loading'))

  $get('/compose/up', function(data) {
    $('.tpl.up').html($tpl('tpl_up', data))
    status()
  })
}

function nodes() {
  $get('/nodes/status', function(data) {
    console.log(data)
    $('.tpl.nodes').html($tpl('tpl_nodes', data))
  })
}

function history() {
  $get('/executions', function(data) {
    $('.tpl.history').html($tpl('tpl_history', data.reverse()))
  })
}

function refresh() {
  status()
}

// -- main

actions = ['status', 'up', 'nodes', 'history']

function main() {
  bind(actions)

  call($param('p'))
}

main()

/** end:JS */
</script></body></html>